Source: tic-tac-toe
Section: x11
Priority: extra
Maintainer: Miguel Poeira <miguelfcunha@gmail.com>
Build-Depends: cmake (>= 2.8),
               cmake-elementary,
               debhelper (>= 8.0.0),
               valac-0.26 | valac (>= 0.26)

Standards-Version: 3.9.3

Package: tic-tac-toe
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Tic-tac-toe game
